[submodule "HTNVisualizer/extern/imgui"]
	path = HTNVisualizer/extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "HTNVisualizer/extern/glfw"]
	path = HTNVisualizer/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "HTNVisualizer/extern/tinyxml2"]
	path = HTNVisualizer/extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "HTNVisualizer/extern/IconFontCppHeaders"]
	path = HTNVisualizer/extern/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
